
* {
	list-style: none;
}

body {
	font-family: sans-serif;
	margin: 50px 50px 50px 75px;
	line-height: 2;
	list-style: none;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#intro {
	text-align: center;
}

#keyinfo {
	border: 2px solid black;
	padding: 2px 10px 10px 10px;
	background-color: #e9ecf0;
}

#consent {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	padding: 5px 15px 15px 15px;
	background-color: #e9ecf0;
}

button {
	align-self: center;
	width: 200px;
	height:35px;
	color: blue;
}

#thanks p {
	margin-top: 10px;
	align-self: center;
	text-align: center;
	margin-bottom: 50px;
	color:blue;
}

#continue {
	margin-top: 10px;
	align-self: center;
	text-align: center;
	margin-bottom: 50px;
	color:blue;
}

input .inputtext {
	width:200px;

}


 input[type=radio] {
	width: 20px;
	height: 20px;
}

 input[type=checkbox] {
	width: 20px;
	height: 20px;
}